<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <meta name="title" content="{{ title }} | Photos by Stephen Gower" />
    <meta name="description" content="{{ meta_description }}" />
    <link rel="canonical" content="{{ canonical_url }}" />
    <meta name="author" content="Stephen Gower" />
    <meta name="image" content="{{ meta_image }}" />
    
    <meta property="og:site_name" content="Photos by Stephen Gower" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta property="og:image" content="{{ meta_image }}" />

    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="{{ title }}" />
    <meta property="twitter:description" content="{{ meta_description }}" />

    <meta name="fediverse:creator" content="@srgower@ottawa.place" />
    
    <meta name="follow.it-verification-code" content="1tBjAmSwwLU95HLwnG1M"/>
    
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{ title }} | Photos by Stephen Gower</title>
    <link rel="icon" type="image/x-icon" href="/img/icons/favicon.ico">
  </head>
  <body>
    <header>{% include 'header.njk' %} </header>
    <nav>{% include 'navigation.njk' %}</nav>
    <main>
    {{ content | safe }}
    </main>

    <footer>{% include 'footer.njk' %}</footer>
  </body>
</html>