---
layout: base.njk
---

<div class="post-nav">
{% if prevPost.url %}
		<p>
			<strong>Previous</strong>:
			<a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
		</p>
	{% endif %}
	{% if nextPost.url %}
		<p>
			<strong>Next</strong>:
			<a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
		</p>
	{% endif %}
<a href="/">Return to grid</a>
</div>
<h2>{{ title }}</h2>
<time><em>{{ date | readableDate}}</em></time>
<p>
{% for tag in tags -%}
  {% if tag !== 'blog' %}
 <span class="tag"><a href="/tags/{{ tag }}/">#{{ tag }}</a></span>&nbsp;&nbsp;
  {% endif %}
{%- endfor %}
</p>
<article>{{ content | safe}}</article>
<br/><span class="share"><p><a href="https://www.addtoany.com/share#url=https://photos.srgower.com{{ page.url }}&title={{ title }}" target="_blank">Share this post</a></p></span>
<!-- <span class="share"><p><a href="https://follow.it/photos-by-stephen-gower?leanpub">Follow via email</a></p></span> -->

