<h1 style="vertical-align:middle;">
Photos by Stephen Gower
<img src="/img/sgp-logo.jpg" style="width:10%; height:10%; display:inline-block; border-radius:50%; vertical-align: middle;" alt="The logo for Photos by Stephen Gower"/>
</h1>