<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/contact/">Contact</a>
<a href="/changelog/">Changelog</a>
<a href="/feed.xml">Subscribe<img class="icon" src="/img/icons/rss.png" alt="RSS Logo"/></a>