/* Global variables. */
:root {
    /* Set sans-serif & mono fonts */
    --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
      "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica,
      "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  
    /* Default (light) theme */
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #333;
    --text-light: #585858;
    --border: #d8dae1;
    --accent: #0d47a1;
  }
  
  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: #212121;
      --accent-bg: #2b2b2b;
      --text: #dcdcdc;
      --text-light: #ababab;
      --border: #666;
      --accent: #ffb300;
    }
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    /* Set the font globally */
    font-family: var(--sans-font);
    scroll-behavior: smooth;
  }
  
  /* Make the body a nice central block */
  body {
    color: var(--text);
    background: var(--bg);
    font-size: 1.15rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 40em;
    padding: 0 1em;
  }
  
  body > header {
    text-align: center;
    /* padding: 0 0.5rem 2rem 0.5rem; */
    box-sizing: border-box;
  }
  
  body > header h1 {
    max-width: 100%;
    margin: 1rem auto;
  }
  
  /* Format navigation */
  nav {
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    line-height: 2;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 1rem;
  }
  
  nav a {
    margin: 1rem 1rem 0 0;
    color: var(--text) !important;
    padding: 0.1rem 1rem;
    white-space: nowrap;
  }
  
  nav a:hover {
    color: var(--accent) !important;
  }
  
  nav a:last-child {
    margin-right: 0 !important;
  }
  
  /* Reduce nav side on mobile */
  @media only screen and (max-width: 750px) {
    nav a {
      border: none;
      padding: 0;
      color: var(--accent);
      text-decoration: underline;
      line-height: 1;
      white-space: normal;
    }
  }
  
  /* Add a little padding to ensure spacing is correct between content and nav */
  main {
    padding-top: 1.5rem;
  }
  
  body > footer {
    margin-top: 4rem;
    padding: 2rem 1rem 1.5rem 1rem;
    color: var(--text-light);
    font-size: 0.9rem;
    text-align: center;
    border-top: 1px solid var(--border);
  }
  
  /* Format headers */
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2.6rem;
    margin-top: 3rem;
  }
  
  /* Reduce header size on mobile */
  @media only screen and (max-width: 720px) {
    h1 {
      font-size: 2.5rem;
    }
  
    h2 {
      font-size: 2.1rem;
    }
    img {
      width: 100%;
      max-width: 100vw;
    }

  }

  /* Display images as grid on mobile devices */
  @media only screen and (max-width: 720px) {
  .img-index a {
    flex: 1 1 calc(50% - 10px); /* 50% width for two images per row, accounting for gap */
  }
}
  /* Set a three-column layout on larger screens */
@media (min-width: 721px) {
  .img-index a {
    flex: 1 1 calc(33.33% - 10px); /* Adjust to three images per row, accounting for gap */
  }
}
  
  
  /* Format links */
  a,
  a:visited {
    color: var(--accent);
  }
  
  a:hover {
    text-decoration: none;
  }

  /* Main photo grid */ 
  .img-index {
    display: flex;         /* Flexbox for side-by-side layout */
    flex-wrap: wrap;       /* Wrap the images if they overflow the container width */
    gap: 10px;             /* Add spacing between images */
   }

  .img-index img {
    width: 100%;           /* Make the image fill the container */
    height: 100%;          /* Maintain aspect ratio but cover the container */
    object-fit: cover;     /* Ensures the image covers the container without distortion */
    display: block;        /* Ensure the image behaves like a block element */
  }
  .img-index a {
    display: inline-block; /* Ensure the links are treated like inline-block elements */
    width: 200x;          /* Fixed width for square images */
    height: 200px;         /* Fixed height for square images */
    overflow: hidden;      /* Hide any part of the image outside the square */
  }



  /* Notice boxes & Changelog styles */
.notice {
  background: var(--accent-bg);
  border: 3px solid var(--text);
  padding: 0 1rem 1rem 1rem;
  margin: 1.5rem 0 1.5rem 0;
  }
  
  
  .notice::before {
  border: 3px solid var(--text);
  display: block;
  text-align: center;
  position: relative;
  top: -1.25rem;
  padding: 2px 10px;
  font-weight: bold;
  }
  
  .notice a:hover {
  background-color: var(--pink);
  }

  details > summary {
    font-weight: bold;
  }
  
  /* Code styling */ 
  code {
    background: rgb(46, 46, 51);
    color: #d5d5d6;
  }
  .icon {
    display: inline-block;
    margin-left: 0.1em;
    width: 0.5em;
    height: 0.5em;
  }

  /* Styling for archive page */ 

  .archive ul {
    list-style-type: none;
    padding-left: 0;
  }

  .archive li {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    text-align: top;
    border-bottom: 1px dotted var(--border);
   }

  .archive img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: inline-block;
  }

 /* Style for share button */
 .share {
  margin-top: 4em;
  margin-bottom: 0;
  width: 100%;
  font-size: 0.85em;
  vertical-align: middle;
} 
  
.share a {
  cursor: pointer;
  border: 2px solid #222;
  padding: 5px 10px;
  margin-bottom: 5px; 
  background-color: var(--accent-bg);
  text-decoration: none;
  color: var(--accent);
  vertical-align: middle;
}

/* Format tags on blog posts */
.tag {
  font-size: 1em;
}

/* Tag cloud */ 
.tag-cloud {
  display: inline-block;
  padding: 0px 5px;
  font-family: sans-serif;
  border-radius: 5px;
  background-color: var(--border);
  margin-top: 6px;
}
.tag-cloud a {
  color: var(--accent);
  text-decoration: none;
}

/* Tighten H2 tag for blog titles */
h2 {
  margin-bottom: 0;
  margin-top: 0;
}

/* Tighten prev/next post spacing */
.post-nav {
  margin-bottom: 0;
  margin-top: 0;
}

/* Follow.it form */
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  margin-top: 30px !important;
  padding: clamp(17px, 5%, 40px) clamp(17px, 7%, 50px) !important;
  max-width: none !important;
  border-radius: 6px !important;
  box-shadow: 0 5px 25px rgba(34, 60, 47, 0.25) !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview,
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview *{
  box-sizing: border-box !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading {
  width: 100% !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading h5{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field {
  margin-top: 20px !important;
  width: 100% !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
  width: 100% !important;
  height: 40px !important;
  border-radius: 6px !important;
  border: 2px solid #e9e8e8 !important;
  background-color: #fff;
  outline: none !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
  color: #000000 !important;
  font-family: "Montserrat" !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::placeholder {
  color: #000000 !important;
  opacity: 1 !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input:-ms-input-placeholder {
  color: #000000 !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::-ms-input-placeholder {
  color: #000000 !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button {
  margin-top: 10px !important;
  width: 100% !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button {
  width: 100% !important;
  height: 40px !important;
  border: 0 !important;
  border-radius: 6px !important;
  line-height: 0px !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button:hover {
  cursor: pointer !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line {
  color: #231f20 !important;
  font-family: "Montserrat" !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 25px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: flex !important;
  width: 100% !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 10px !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line img {
  margin-left: 10px !important;
  height: 1.13em !important;
  max-height: 1.13em !important;
}