---
title: Tags 
layout: base 
permalink: /tags/
---

<h2>All Tags</h2>
<p><a href="/archive/">View all posts</a> &#8226; <a href="..">Return home</a></p>


{% for tag in collections.tagsList %}
  <span class="tag-cloud"><a href="/tags/{{tag}}">#{{tag}}</a></span>
{% endfor %}
